<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= content %></p>

<% posts.forEach(function(element) { %>
  <h2><%= element.title %></h2>
  <p class="content"><%= element.content %> </p>
<% }) %>

<%- include("partials/footer") -%>
